{% extends 'nav.html' %} {% block body1 %}
<div class='container-fluid'>
    <div class="col-md-6 col-md-push-3">
        <div class='info_box'>
            <div class="card">
                <div class="col-sm-6" style='text-align:center;'>
                    <p><a target="_blank" class='site' href='https://parkinsonsnewstoday.com/2016/01/04/top-10-articles/'>Parkinsons News Today</a></p>
                    <p> <a target="_blank" class='site' href='http://www.healthline.com/health/parkinsons/best-blogs-of-the-year#2'>The Best Parkinson’s Disease Blogs of the Year</a></p>
                    <p><a target="_blank" class='site' href='https://www.michaeljfox.org/'>The Michael J. Fox Foundation</a></p>
                    <p><a target="_blank" class='site' href='https://www.whatech.com/market-research/medical/359187-global-parkinson-s-disease-drugs-market-forecast-2017-2022-scrutinized-in-new-research'>Parkinson's disease Drugs Forecast</a> </p>
                    
                </div>
                <div class="col-sm-6" style='text-align:center;'>
                    <p><a target="_blank" class='site' href='http://www.mayoclinic.org/diseases-conditions/parkinsons-disease/basics/definition/con-20028488'>The Mayo Clinic Cure</a></p>
                    <p><a target="_blank" class='site' href='http://www.mayoclinic.org/diseases-conditions/parkinsons-disease/basics/treatment/con-20028488'>Parkinson's disease treatments and drugs</a> </p>
                    <p><a target="_blank" class='site' href='http://www.pdf.org/about_pd'>Parkinson's Disease Foundation</a> </p>
                    <p><a target="_blank" class='site' href='https://www.hse.ie/eng/health/az/P/Parkinson%27s-disease/Treating-Parkinson%27s-disease.html'> Health Service Executive-P.D.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     function openSide() {
        document.getElementById("mySidenav").style.width = "20%";
    };
    /* Set the width of the side navigation to 0 */
    function closeSide() {
        document.getElementById("mySidenav").style.width = "0";
    };
</script>
{% endblock %}