{% extends 'nav.html' %} {% block body1 %}   

<div class="container">
    <span id='openbtn' class="open" onclick="openSide()"><i class="fa fa-bars" aria-hidden="true"></i>
</span>
    <div class="row">

        <div class="col-md-10 col-md-push-1" style='text-align: center;'>
            <h3 class="loading-head">Thank You! Your results will be ready soon!</h3>
        </div>


        <div class='col-md-12 btndiv' id='btndiv'>
            <a href="/menu">
                <button class='recordbtn' type='button'>Home</button>
            </a>
        </div>

    </div>
</div>
    
<script>
        //navbar script
    document.getElementById("closebtn").style.display = 'initial';
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("openbtn").style.display = "block";
    
    
    function openSide() {
        document.getElementById("mySidenav").style.width = "20%";
        document.getElementById("mySidenav").style.display = "block";
    }

    /* Set the width of the side navigation to 0 */
    function closeSide() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.display = "none";
    } 

</script>


{% endblock %}
